.modal {
    display: none;
}

.modal.is-open {
    display: block;
}

.modal-backdrop{
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    @include flex(center, center);
}

#modal-1-title {
    font-size: $font-size-m;
    font-weight: $bold;
}

header button {
    color: $black;
    font-weight: $bold;
    padding: 10px 20px;
    text-transform: uppercase;

}

#modal-1-content {
    font-size: $font-size-s;
    font-weight: bold;
}