/***************VARIABLES*******************/
/*color*/
$white: #fff;
$black: #000;
$gray: #9D9D9D;
$strong-gray:#6B6B6B;
$bg-color-gray: #F5F5F5;

$no-bg-color:transparent;



/*font-family*/
$font-family: 'Roboto', sans-serif;

/*font-size*/
$font-size-xs: 1.2rem;
$font-size-s: 1.4rem;
$font-size-m: 1.6rem;
$font-style-l: 1.8rem;

/*font-weight*/
$bold: bold;