/***************VARIABLES*******************/
/*color*/
/*font-family*/
/*font-size*/
/*font-weight*/
/***************MIXIN*******************/
/*****************FUNCTION*************************/
/*@function calc-perc ($target, $container){
    @return ($target/$container) * 100;
}*/
html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}

*,
*::before,
::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.overline {
  font-size: 1.2rem;
  line-height: 3rem;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
}

p + .btn {
  margin-top: 32px;
}

.btn .icon {
  width: 1.8rem;
  margin-left: 11px;
  vertical-align: middle;
}

.banner {
  position: relative;
  background-color: #000;
  text-align: center;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner span {
  color: #fff;
  font-weight: bold;
  font-size: 1.2rem;
}
.banner button {
  position: absolute;
  right: 2.1875%;
  border: 0;
  appearance: none;
  background-color: transparent;
}
.banner button svg {
  width: 20px;
  color: #fff;
}
.banner button > span {
  align-items: center;
}

.screen-reader-only {
  display: none;
}

.header-menu {
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  overflow: hidden;
  align-self: center;
}
.logo-container p.logo {
  padding: 37px;
  font-size: 1.9rem;
  border: 1.5px dashed #000;
}

nav li {
  display: inline;
}
nav li svg {
  color: #000;
  margin: 0 0 0 20px;
}

.home,
.listato {
  display: none;
}

@media only screen and (min-width: 767px) {
  nav li svg {
    display: none;
  }
  nav li a {
    color: #000;
    font-size: 1.8rem;
    line-height: 21.09px;
    font-weight: 700;
    padding: 10px;
  }

  .home,
.listato {
    display: inline;
  }
}
#hero {
  background: url("../img/strawberries1.webp") no-repeat fixed center/cover;
  width: 100%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: 0;
}
#hero h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 4.8rem;
}

.hero-caption {
  text-align: center;
  background-color: #fff;
  width: 100%;
  min-height: 250px;
  padding: 50px;
  margin-top: auto;
}
.hero-caption .description {
  display: none;
}
.hero-caption a {
  color: #000;
  font-size: 1.4rem;
  line-height: 3rem;
  text-transform: uppercase;
  font-weight: 700;
}

.btn--text {
  color: #000;
  background-color: transparent;
  padding: 0;
}

@media only screen and (min-width: 767px) {
  /*HERO*/
  #hero {
    display: flex;
    justify-content: flex-start;
    align-items: 0;
  }
  #hero .btn--text {
    padding-top: 20px;
  }
  #hero .hero-caption {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.55);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.3px);
    -webkit-backdrop-filter: blur(7.3px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 532px;
    margin-left: 20px;
    text-align: left;
  }
  #hero .hero-caption .description {
    display: block;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    letter-spacing: 0.01em;
    padding: 40px 0;
  }
}
.media-testo {
  grid-template-columns: 1fr;
  grid-template-rows: 365px auto;
  min-height: initial;
}
.media-testo p {
  font-size: 1.6rem;
  letter-spacing: 0.01rem;
  line-height: 2.4rem;
  margin: 24px 0px;
}

.testo {
  padding: 50px 50px;
}
.testo h2 {
  margin: 10px 0 32px;
  font-size: 32px;
  font-weight: 700;
}

.media-testo--reverse {
  grid-column: 1;
  grid-row: 1;
}

.media {
  /*background-repeat: no-repeat;
  background-size: cover;
  background-position: center;*/
  min-height: 500px;
  grid-column: 1;
  grid-row: 1;
}

.btn {
  padding: 1.6rem 32px;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #000;
  text-decoration: none;
  display: inline-block;
}

@media only screen and (min-width: 767px) {
  .media-testo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    background-color: #fff;
    padding-top: 4%;
  }

  .media-testo--reverse .media {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .media {
    min-height: 300px;
  }
}
@media only screen and (min-width: 1023px) {
  .media-testo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr;
    background-color: #fff;
    padding-top: 4%;
  }

  .media-testo--reverse .media {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .testo {
    padding: 8.4121976866%;
    align-self: center;
  }
}
.carousel {
  background-color: #F5F5F5;
  min-height: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.carousel-cell {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 40px 2px 10px 2px;
}
.carousel-cell p {
  padding: 10px;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.9rem;
  letter-spacing: 0.01em;
  text-align: center;
}

/*************************FOOTER***************************/
.footer_column_list {
  display: none;
}

.footer-grid .bold-text {
  padding: 50px 0 20px 6.25%;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 28.13px;
}
.footer-grid .small {
  padding: 20px;
  color: #9D9D9D;
  margin-left: 2%;
  margin-right: 19.53%;
}

form {
  text-align: center;
}
form label {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
form input {
  border: 0;
  border-bottom: 2px solid #000;
  width: 87.2%;
  padding: 10px;
  margin: auto;
}
form button {
  border: 1px solid #9D9D9D;
  margin: 50px 46.875% 20px 0px;
  padding: 1.6rem 32px;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #fff;
  background-color: #9D9D9D;
  text-decoration: none;
}

.info {
  margin-top: 20px;
}
.info a {
  color: #000;
}
.info .plus {
  margin-left: auto;
}

.info button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  font-size: 1.6rem;
  line-height: 18.75px;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  gap: 10px;
  background-color: #F5F5F5;
  border: 0;
}
.info button svg {
  margin: 3px 0 0 5px;
}

.list {
  display: none;
  background-color: #F5F5F5;
}
.list li {
  font-size: 1.4rem;
  font-weight: 500;
  height: 30px;
  padding: 10px;
}

.list--active {
  display: block;
}

.social p {
  padding: 50px 0 20px 0;
  text-align: center;
  font-size: 1.4rem;
  font-weight: 800;
  text-transform: uppercase;
}
.social .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
  gap: 25px;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #000;
  height: 110px;
  line-height: 140%;
  text-align: center;
}
.copyright a {
  color: #fff;
}

.link-footer {
  display: flex;
  gap: 8px;
}

@media only screen and (min-width: 767px) {
  .footer-grid p {
    margin: 20px 50px 0 40px;
  }
  .footer-grid .small {
    margin-left: 10%;
  }

  form {
    margin: 20px 6.518%;
  }
  form button {
    margin: 50px 70.404% 10px 10px;
  }
}
@media only screen and (min-width: 1023px) {
  .footer-grid .bold-text {
    padding: 30px 50px 20px 10px;
  }
  .footer-grid .small {
    margin-left: 5%;
  }

  form {
    text-align: left;
    margin-left: 50px;
  }
  form label {
    display: inline-block;
  }
  form input {
    width: 317px;
  }

  .info {
    display: none;
  }

  .main-footer {
    display: grid;
    justify-items: center;
    grid-template-columns: 50% 25% 25%;
    padding: 20px;
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
  }
  .social .icon {
    display: block;
    padding: 20px 0px 0 2px;
  }

  .footer_column_list {
    padding-top: 50px;
    display: flex;
    gap: 10%;
    margin-left: 80%;
  }
  .footer_column_list .col-2 {
    padding-right: 0;
  }
  .footer_column_list ul {
    width: 224px;
    padding-top: 10%;
  }
  .footer_column_list li a {
    font-size: 1.6rem;
    list-style-type: none;
    letter-spacing: 0.01em;
    color: #000;
    line-height: 3.5rem;
    padding: 5%;
  }
  .footer_column_list span {
    font-size: 1.6rem;
    font-weight: bold;
  }

  footer button {
    margin: 20px 0 30px 15px;
  }

  .copyright {
    display: flex;
    flex-direction: row;
    gap: 2%;
  }
  .copyright p {
    color: #fff;
  }
}
@media only screen and (min-width: 1439px) {
  .footer-grid {
    margin-left: 15%;
  }
  .footer-grid .small {
    margin-left: 2%;
  }
}
.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal-backdrop {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
