.title{
    background-color: #fff;
    height: 86px;
    font-size: 32px;
    padding-top: 30px;
}

.hero-card{
    background-color: #F5F5F5;
}

.hero-card p{
    height: 70px;
    padding-top: 35px;
    font-weight: 700;
    color: #6B6B6B;
}


.card-prodotti{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    background-color: #F5F5F5;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card img{
    height: 187px;
}


.card a{
    font-size: 1.4rem;
    color: #000;
}

.card button{
    background-color: #fff;
    height: 40px;
    max-width: 171px;
    border: 0px;
}