/*********GENERAL*************/
/*.screen-reader-only {
    display: none;
}*/

/*************TITLE SECTION HEADER*****************/
.title{
    background-color: #fff;
    height: 86px;
    font-size: 32px;
    padding-top: 30px;
}

.title h1{
    margin-left: 15px;
}

/*********ICONE E VISUALIZZAZIONE GRIGLIE*************/
.view-grid{
    height: 70px;
    background-color: #F5F5F5;
}

.view-grid p{
    font-size: 1.4rem;
    height: 70px;
    padding-top: 30px;
    margin-left: 15px;
    font-weight: bold;
    color: #6B6B6B;
}

.grid-icon button {
    display: none;
}

p.display-xl{
    display: none;
}


/*icone attive*/
.grid-icon button.active {
    opacity: 0.5;
}

.grid-icon button.active:hover {
    transform: scale(1.3);
}

/*********CARD PRODOTTI*************/
.card-prodotti{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 2px;
    background-color: #F5F5F5;
}


.card{
    margin-bottom:40px;
}

.card .img-covercard{
    position: relative;
    height: 150px;
    overflow: hidden;
}

.img-covercard img{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    height: max-content;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.icon-on-img p,
.icon-on-img button{
    position: absolute;
    font-weight: bold;
    text-transform: uppercase;
    z-index: 2;
    color: #000;
    background-color: transparent;
    border: 0
}

.icon-on-img p{
    background-color: #fff;
    padding: 2px;
}

.icon-on-img p.new{
    top: 4%;
    left: 1%;
}


.icon-on-img p.quantity{
    bottom: 4%;
    left: 1%;
}



.icon-on-img button.aggiungi-alla-wishlist{
    top: 6%;
    right: 3%;
    background-color: transparent;
    border: 0;
}



.card a{
    font-size: 1.4rem;
    color: #000;
}

.product-description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-top: 20px;
    font-size: 1.4rem;
    color: #000;
}

.product-description h2{
    font-weight: bold;
}

.product-description p{
    padding-top: 10px;
}

.buy{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #fff;
    text-align: left;
    height: 40px;
    border: 0px;
    margin: 50px 5px 0 5px;
    color: #000;
}

.buy p.bold{
    font-size: 1.4rem;
    font-weight: bold;
}

.buy p.small{
    font-size: 1.1rem;
    text-decoration: line-through;
}

.buy button{
    background-color: transparent;
    border: 0;
    margin-left: auto;
    margin-right: 3%;
}





/*********************MEDIAQUERIES*******************************************/

/*tablet*/
@media only screen and (min-width:767px){

/*title section*/

.title{
    text-align: center;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*prodotti results*/

p.only-mobile-text{
    display: none;
}

p.display-xl {
    display: block;
}

/*icone visualizzazione griglia prodotti*/

.grid-icon button{
    display: block;
    border: 0;
    background-color: transparent;
    margin-left: 10px;

}

.grid-icon{
    display: flex;
}


.view-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 75%;
}






/*icone sulle img*/

.icon-on-img p{
    background-color: transparent;
    border: 0;
}

.icon-on-img button.aggiungi-alla-wishlist {
    top: 10%;
}

/*card prodotti*/

.card-prodotti {
    display: grid;
    grid-template-columns: repeat(4,25%);
    background-color: #F5F5F5;
}

.card-prodotti--gallery {
    grid-template-columns: repeat(6, 1fr);
}



/*button carrello*/

.buy{
    background-color: transparent;
}

.buy button{
    display: none;
}

}



/**DISPLAY LARGE PC (Da 1024 IN POI)***/
@media only screen and (min-width:1023px) {


.view-grid{
    gap: 80%;
}

.card .img-covercard {
    height: 200px;
}


}

/**DISPLAY XXL (Da 1439 IN POI)***/
@media only screen and (min-width:1439px) {

.view-grid {
    gap: 85%;
    }

.card .img-covercard {
    height: 400px;
}

}

