html{
    font-size: 10px;
    box-sizing: border-box;
}

body{
margin: 0;
font-family: 'Roboto', sans-serif;
background-color:#fff;

}

*,
*::before,
::after{box-sizing: inherit;
}

a{
text-decoration: none;
}

.overline{
    font-size: 1.2rem;
    line-height: 3rem;
    letter-spacing: 0.04rem;
    text-transform: uppercase;
}



p + .btn {
	margin-top: 32px;
}



.btn .icon {
	width: 18px;
	margin-left: 11px;
	vertical-align: middle;
}

p small{
    
    padding: 50px;
    color: gray;
}


/**********************BANNER*****************************/

.banner{
position: relative;
background-color: #000;
text-align: center;
height: 32px;
display: flex;
justify-content: center;
align-items: center;
}

.banner span{
color: #fff;
font-weight: bold;
font-size: 1.2rem;

}

.banner button{
    position: absolute;
    right: 2.1875%;
    border: 0;
    appearance: none;
    background-color: transparent;
  
}

.banner button svg{
width: 20px;
color: #fff;

}

.banner > span button svg{
align-items: center;
}

.screen-reader-only{
display: none;
}



/**********************HEADER******************************/

.header-menu{
background-color: #fff;
/*max-height: 8.25%;*/
display: flex;
align-items: center;
justify-content: space-between;
}

.logo-container{
    max-height: 58.31px;
    overflow: hidden;
    align-self: center;
    }
    
.logo-container img{
    max-width: 100%;
    max-height:58.31px;
    
    }

/**********************NAV******************************/

nav li{
display: inline;

}

.home , .listato{
display: none;
}

li svg{
    
    color: #000;
    margin: 0 0 0 20px;
}





/**********************HERO******************************/
#hero{
    background: url('../assets/img/strawberries1.webp') no-repeat fixed center / cover;
    width: 100%;
    height:800px;
    display: flex;
    justify-content: center;

}

.hero-caption{
    text-align: center;
    background-color: #fff;
    width: 100%;
    min-height: 250px;
    padding:50px;
    margin-top: auto;
}

#hero h1{
    font-size: 4rem;
    font-weight: bold;
    line-height: 4.8rem;
}

.hero-caption .description{
    display: none;
    }

.btn--text {
    color: #000;
    background-color: transparent;
    padding: 0;
}

.hero-caption a{
    color: #000;
    font-size: 1.4rem;
    line-height: 3rem;
    text-transform: uppercase;
    font-weight: 700;
}

/**********************MEDIA-TESTO***********************************/

.media-testo {
    grid-template-columns: 1fr;
    grid-template-rows: 365px auto;
    min-height: initial;
}

.media-testo p{

        font-size: 1.6rem;
        letter-spacing: 0.01rem;
        line-height: 2.4rem;
        margin: 24px 0px;
    
}

.testo {
    padding: 50px 50px;
}


.media-testo--reverse .media {
    grid-column: 1;
    grid-row: 1;
}

.media{
    /*background-repeat: no-repeat;
	background-size: cover;
	background-position: center;*/
    min-height: 576px;
    margin: 10px 0;
}


.testo h2 {
	margin: 10px 0 32px;
	font-size: 32px;
	font-weight: 700;
}


.btn {
	padding: 16px 32px;
	font-weight: 700;
	font-size: 1.4rem;
	text-transform: uppercase;
	color: #fff;
    background-color: #000;
	text-decoration: none;
	display: inline-block;
}


/****************************CAROUSEL***********************************/

.carousel{
    background-color: #F5F5F5;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: space-between;    
    align-items: center;
    overflow: hidden;
}

.carousel-cell{
    display: flex;
    padding: 40px 2px 10px 2px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

.carousel-cell p{
    padding: 10px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.9rem;
    letter-spacing: 00.01em;
    text-align: center;
}

/****************************FORM FOOTER***********************************/

.footer_column_list{
    display: none;
}

form .bold-text{
    width: 87.4666667%;
    padding: 50px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 28.13px;
}

form{
    text-align: center;
}


form label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

form input{
    border: 0;
    border-bottom: 2px solid #000;
    width: 327px;
    padding: 10px;
    margin: auto;
    
}


footer button{
    border: 1px solid #9D9D9D;
    margin: 50px 0 20px 20px;
    padding: 16px 32px;
	font-weight: 700;
	font-size: 1.4rem;
	text-transform: uppercase;
	color: #fff;
    background-color: #9D9D9D;
	text-decoration: none;
	
}

footer svg{
 margin: 3px 0 0 5px;
}

 form p small{
    
    padding: 5px;
    color: gray;
}


.info a{
    color: black;
}

.footer-help{
    margin-top: 50px;
}

.footer-help, .company{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    line-height: 18.75px;
    font-weight: 700;
    padding: 20px;
    text-align: center;
    background-color: #F5F5F5;
   
}


.social p{
    padding: 50px 0 20px 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 800;
    text-transform: uppercase;
}

.social .icon {
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    gap: 25px;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #000;
    height: 110px;
    line-height: 140%;
    text-align: center;
}

.copyright a{
    color: white;
}

.link-footer{
    display: flex;
    gap: 8px;

}











/****************************MEDIAQUERY*************************************************/
/**DISPLAY LARGE PC (Da 1024 IN POI)***/
@media only screen and (min-width:1024px) {


    
/*******************NAV*****************/

 nav li svg{
display: none;
}

.home , .listato{
display: inline;
}

nav li a{
color: #000;
font-size: 1.8rem;
line-height: 21.09px;
font-weight: 700;
padding: 10px;
}


/*******************HERO***************/

#hero{
display: flex;
justify-content: flex-start;
} 
    
#hero .hero-caption{
/* From https://css.glass */
background: rgba(255, 255, 255, 0.55);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.3px);
-webkit-backdrop-filter: blur(7.3px);
border: 1px solid rgba(255, 255, 255, 0.2);
width: 532px;
margin-left: 20px;
} 

.hero-caption .description{
    display: block;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    align-self: flex-start;
    letter-spacing: 0.01em;
    }

/******************MEDIA TESTO*****************/

    .media-testo {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
        background-color: #fff;
        padding-top: 4%;
    }

    .media-testo--reverse .media {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
    }

.testo {
	padding: 8.412197686645636%;
	align-self: center;
}


/**********FOOTER***********/
.footer-grid{
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-around;
    
}

form{
    text-align: left;
    margin-left: 50px;
    width: 50%;
    height: 458px;

}

form label{
    display:inline-block; 
}

form input{
    margin-left: 50px;
}

.footer-help, .company{
    display: none;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2%;
}

.social .icon{
    display: block;
    padding: 20px 0px 0 2px;
}
  
.footer_column_list{
    width: 31.25%;
    padding-top: 50px;
    display:flex;
    gap: 25%;
}

.footer_column_list .col-1{
    width:25%;
    height: 458px;
}

.footer_column_list .col-2{
    width: 25%;
    height: 458px;
}

.footer_column_list ul{
    width: 224px;
    padding-top: 10%;
}

.footer_column_list li a{
    font-size: 1.6rem;
    letter-spacing: 0.01em;
    list-style-type: none;
    color: #000;
    line-height: 1.9rem;
    padding: 5%;
    
}

.footer_column_list span{
    font-size: 1.6rem;
    font-weight: bold;
    
}


.copyright{
    display: flex;
    flex-direction: row;
    gap: 5%;
}

}











